@model CDPReporting.Business.Models.QuestionResponseModel


<script type="text/javascript">
    $(document).ready(function () {
        $('input[name="daterange"]').daterangepicker();
        @*var str = '@Model.Value';
        var date = str.split("s");
        $('input[name="daterange"]').val(date[0]+"-"+date[1]);*@
        $("#Save").click(function () {
            var startDate = $('input[name="daterange"]').data('daterangepicker').startDate.format('YYYY-MM-DD');
            var endDate = $('input[name="daterange"]').data('daterangepicker').endDate.format('YYYY-MM-DD');
            var date = startDate + "s" + endDate;

            var qId = '@Model.QuestionId';
            var qType = '@Model.QuestionType';
            var yearVal = '@Model.Year';

            $.post('@Url.Content("~/Questionnaire/SaveQuestionResponse/")', { questionId: qId, answer: date, questionType: qType, year: yearVal },
                function (data, status)
                {
                    if (status == "success") {
                        $("#Successdiv").css('visibility', 'visible');
                    }
                    else {
                        $("#ErrorDiv").css('visibility', 'visible');
                    }
            });
        });


    });

</script>


@*@{
    
    string dateformater = @Model.Value.ToString();
    string[] words = dateformater.Split('s');
    var datevalue = words[0].Substring(0, 9) + "-" + words[1].Substring(0, 9);

}*@

<div class="form-horizontal">
    <h4>@string.Format("{0}: {1}", Model.CDPId, Model.Caption)</h4><p>@Model.QuestionText</p>


    <div class="form-group">       
       
        <div class="col-md-12">
            <label for="comment" class="control-label">Select the Range</label>
            <input type="text" class="form-control" style="" name="daterange"
                   value='@Html.Raw(Model.Value == null ? "01/01/2015 - 01/31/2015" : string.Format("{0} - {1}", ((CDPReporting.Business.Models.DateRange)Model.Value).StartDate.ToString("MM/dd/yyyy"), ((CDPReporting.Business.Models.DateRange)Model.Value).EndDate.ToString("MM/dd/yyyy")))' />
        </div>
       
       
    </div>

    <div class="form-group">
        <div class="col-md-12 text-right">
            <button id="Save" type="button" class="btn btn-primary">Save</button>
            @*<button type="button" class="btn btn-default">Cancel</button>*@
        </div>
    </div>
</div>
