@model CDPReporting.Business.Models.QuestionResponseModel

<script type="text/javascript">
    $(function () {
        debugger;
        $('#selectMultiple').multiselect();

        $('#Save').click(function () {
            debugger;
            var data = $('#selectMultiple').val();
            var qId = '@Model.QuestionId';
            var qType = '@Model.QuestionType';
            var yearVal = '@Model.Year';
            var multiselectData;
            for (var item = 0; item < data.length; item++) {
                if (multiselectData == null)
                    multiselectData = data[item];
                else
                    multiselectData = multiselectData + "|" + data[item];
            }
            var valueList = multiselectData;
            multiselectData = null;

            $.post('@Url.Content("~/Questionnaire/SaveQuestionResponse/")', { questionId: qId, answer: valueList, questionType: qType, year: yearVal },
                function (data, status) {
                    if (status == "success") {
                        $("#Successdiv").css('visibility', 'visible');
                    }
                    else {
                        $("#ErrorDiv").css('visibility', 'visible');
                    }
            });
        })
    });
</script>


<div class="form-horizontal">
    <h4>@string.Format("{0}: {1}", Model.CDPId, Model.Caption)</h4><p>@Model.QuestionText</p>
    <div class="form-group">
        <div class="col-md-12">
            <select id="selectMultiple" multiple="multiple">
                @foreach (var item in Model.OptionList.OptionCSVText)
                {
                    if (Model.Value != null)
                    {
                        if (@Model.Value.ToString().Contains(item.ToString().Replace(" ", "")))
                        {
                            <option selected="selected" value="@Html.Raw(item.ToString())">@Html.Raw(item)</option>

                        }
                        else
                        {
                            <option value="@Html.Raw(item.ToString().Replace(" ",""))">@Html.Raw(item)</option>
                        }
                    }
                    else
                    {
                        <option value="@Html.Raw(item.ToString().Replace(" ",""))">@Html.Raw(item)</option>
                    }

                }
                @if (!string.IsNullOrWhiteSpace(Model.OptionList.OtherOptions))
                {
                    <option>Other</option>
                }
            </select>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-12 text-right">
            <button id="Save" type="button" class="btn btn-primary">Save</button>
            @*<button type="button" class="btn btn-default">Cancel</button>*@
        </div>
    </div>
</div>
