@model CDPReporting.Business.Models.QuestionResponseModel

        @if(Model!=null)
        {}
        <div class="form-horizontal">
            <h3>@Model.Caption</h3><p><b>@Model.QuestionText</b></p>


            <div class="form-group">
                <div class="col-md-12">
                    @*<div id="CurrencydropDown" class="dropdown">
            <button class="btn dropdown-toggle" name="recordinput" data-toggle="dropdown">
                Select Currency
                <span class="caret"></span>
            </button>*@

                    <div class="btn-group">

                        <button class="btn dropdown-toggle" name="recordinput" data-toggle="dropdown">
                            Select Currency
                            <span class="caret"></span>
                        </button>


                        <ul class="dropdown-menu">

                            @foreach (var item in Model.OptionList.OptionCSVText)
                        {
                            if (Model.Value != null)
                            {
                                if (@Model.Value.ToString().Contains(item))
                                {
                        <li><a href="#">@Html.Raw(item)</a></li>


                                }
                                else
                                {
                        <li> <a href="#">@Html.Raw(item)</a></li>
                                }

                            }
                            else
                            {
                        <li><a href="#">@Html.Raw(item)</a></li>
                            }

                        }
                            @if (Model.OptionList.OtherOptions != null)
                        {
                        <li>others</li>
                        }



                        </ul>
                    </div>
                </div>
            </div>

        <div class="form-group">
            <div class="col-md-offset-10 col-md-12">
                <button id="Save" type="button" class="btn btn-primary">Save</button>
                <button type="button" class="btn btn-primary">Cancel</button>
            </div>
        </div>
        </div>


<script>



    $(".dropdown-menu li a").click(function () {
        var selText = $(this).text();
        $(this).parents('.btn-group').find('.dropdown-toggle').html(selText + ' <span class="caret"></span>');
    });


    //$(function () {

    //    $("#CurrencydropDown .dropdown-menu li a").click(function () {

    //        $("#CurrencydropDown .btn:first-child").text($(this).text());
    //        $("#CurrencydropDown .btn:first-child").val($(this).text());
    //    });

    //});

</script>