@model List<CDPReporting.UI.Models.Question>


<script>
    $(function () {
        $("#datepicker").daterangepicker();
    });
</script>



@foreach (var item in Model)
{

    <div style="cursor:pointer;" id="QUESTANS_@item.QuestionId">
        <div style="padding:4px">
            <h4>Question</h4>
            @Html.Raw(item.QuestionText)
        </div>
        <br />

        <div>
            @if (item.Type.ToString() == "Simple")
            {
                @Html.TextArea("TextArea", new { @style = "width:99.8%; max-width:100%" })
            }
            @if (item.Type.ToString() == "Option")
            {
                @Html.Raw("Yes") <input id="Radio1" type="radio" name="option" />            @Html.Raw("No")<input id="Radio2" type="radio" name="option" />
            }
            @if (item.Type.ToString() == "DateRange")
            {
                @Html.Raw("Start Date") <input type="text" id="datepicker" value="01/01/2017 - 01/31/2017">
            }
        </div> 
        <br/> 

        <div style="float:right;">
            <input id="Button1" type="button" value="Save" /> <input id="Button2" type="button" value="Cancel" />
        </div>
    </div>
     
}
