@model List<CDPReporting.Business.Models.GroupQuestionModel>

@*<link href="~/Content/Style.css" rel="stylesheet" />*@


               <div class=" rounded-border" style="margin-bottom: 10px; background-color: #428bca"><center><h2 style="color: #f5f5f5">Questions</h2></center></div>  
<div class="list-group">
    @foreach (var element in Model)
    {
        <div class="list-group-item-heading" style="cursor:pointer;">

            @*<div class="col-md-6">*@
            <div class="panel panel-primary" style="margin-left: 5px;margin-right: 5px;">
                <div class="panel-heading">
                    <h3 class="panel-title">@element.QuestionGroupId @element.QuestionGroupName</h3>
                    <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
                </div>

                @*</div>
            </div>*@



                @*<h4 style="background-color: #E7EEED; " </h4>*@
                <div class="panel-body">

                    <div class="list-group-item-text" style="cursor:pointer;">
                        @*@foreach (var subitem in element.SubGroupQuestion)
                    {*@
                        @foreach (var subQuestions in element.Questions)
                        {
                            //<h4>@subQuestions.SubGroupText</h4>
                            string QuestionId = "Question_" + @subQuestions.QuestionId;
                            <div id=@QuestionId class="list-group-item-text question" style="cursor:pointer;">
                                @if (@subQuestions.QuestionText.Length > 40)
                                {
                                    <p class="Questionbg">@subQuestions.QuestionId: @subQuestions.QuestionText.Substring(0, 40).....</p>
                                }
                                else
                                {
                                    <p class="Questionbg">@subQuestions.QuestionId: @subQuestions.QuestionText</p>
                                }
                            </div>
                            <br />
                        }
                        @*}*@
                    </div>

                </div>
            </div>

            @*</div>*@
        </div>
    }
</div>


<script>

    $(document).on('click', '.panel-heading span.clickable', function (e) {
        var $this = $(this);
        if (!$this.hasClass('panel-collapsed')) {
            $this.parents('.panel').find('.panel-body').slideUp();
            $this.addClass('panel-collapsed');
            $this.find('i').removeClass('glyphicon-chevron-up').addClass('glyphicon-chevron-down');
        } else {
            $this.parents('.panel').find('.panel-body').slideDown();
            $this.removeClass('panel-collapsed');
            $this.find('i').removeClass('glyphicon-chevron-down').addClass('glyphicon-chevron-up');
        }
    })

</script>